<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDI7r-VNX9KR_fN_L8C4gsqQGPsGWF1NWo</string>
	<key>GCM_SENDER_ID</key>
	<string>618060647080</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>JongHyuckJeon.FindingNemo</string>
	<key>PROJECT_ID</key>
	<string>findingnemo-838ae</string>
	<key>STORAGE_BUCKET</key>
	<string>findingnemo-838ae.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:618060647080:ios:c3b9ee61a9b53404ab109d</string>
</dict>
</plist>